{% extends 'general/base.twig' %}

{% block title %} Halaman Utama {% endblock %}

{% block head_extra %}
    <style>
    
        .list-group-item {
            height: 60px;
        }

    </style>
{% endblock %}

{% block body %}
    {# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>

        <div class="well well-sm">
            <h3> Selamat datang, {{ user.username }}! </h3>

            <p> Status Anda adalah: <span class="label label-danger"> {{ user.privilege | upper }} </span> </p>
        </div>

        <a class="btn btn-default btn-block" href="{{ path_for("inventory") }}">
            <span class="glyphicon glyphicon-list"> </span>
            Daftar Item 
        </a>

        <a class="btn btn-default btn-block" href="{{ path_for("inventory-item-search") }}">
            <span class="glyphicon glyphicon-search"> </span>
            Pencarian Item 
        </a>

        {#  Manager and admin exclusive features #}
        {% if user.privilege == "ADMINISTRATOR" or user.privilege == "MANAGER" %}
            <a class="btn btn-default btn-block" href="{{ path_for("ledger") }}">
                <span class="glyphicon glyphicon-book"> </span>
                Catatan Keuangan 
            </a>
        {% endif %}

        {#  Admin exclusive features #}
        {% if user.privilege == "ADMINISTRATOR" %}
            <a class="btn btn-default btn-block" href="{{ path_for("invoice-transaction-list") }}">
                <span class="glyphicon glyphicon-list-alt"> </span>
                Catatan Transaksi 
            </a>

            <a class="btn btn-default btn-block" href="{{ path_for("user-manage") }}">
                <span class="glyphicon glyphicon-user"> </span>
                Kelola Akun 
            </a>
        {% endif %}

{% endblock %}