{% extends 'general/base.twig' %}

{% block title %} Inventory | Semua Item {% endblock %}

{% block head_extra %}
    <style>

        .item-unit {
            display: table;
            width: 100%;
        }

        .item-unit div {
            display: table-cell;
        }

        .item-unit div:nth-child(1) {
            width: 70%;
        }

        .item-unit div:nth-child(3) {
            text-align: right;
        }

    </style>
{% endblock %}

{% block body %}
{# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">

        <div class="spacer"></div>

        <div class="alert alert-info">
            Menampilkan item ke <strong> {{ pagination.item_begin }} </strong> sampai item ke <strong> {{ pagination.item_end }} </strong> dari
            seluruh <strong> {{ pagination.total_items }} </strong> item yang ada.
        </div>

        <ul class="list-group">
            {% for item in items %}
                {% include 'inventory/item_unit_manage.twig' %}
            {% endfor %}
        </ul>

        <nav>
            <ul class="pager">
                {% if pagination.prev_page %}
                    <li class="previous">
                        <a href="{{ path_for("inventory") }}?page={{ pagination.prev_page }}">
                            &larr; Sebelumnya
                        </a>
                    </li>
                {% else %}
                    <li class="previous disabled">
                        <a href="{{ path_for("inventory") }}?page={{ pagination.prev_page }}">
                            &larr; Sebelumnya
                        </a>
                    </li>
                {% endif %}

                {% if pagination.next_page %}
                    <li class="next">
                        <a href="{{ path_for("inventory") }}?page={{ pagination.next_page }}">
                            Selanjutnya &rarr;
                        </a>
                    </li>
                {% else %}
                    <li class="next disabled">
                        <a href="{{ path_for("inventory") }}?page={{ pagination.next_page }}">
                            Selanjutnya &rarr;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock %}
