{% extends 'general/base.twig' %}

{% block title %} Inventory | Filtered {% endblock %}

{% block body %}
{# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">

        <div style="height: 60px"></div>

        <div class="alert alert-success">
            Menampilkan hasil pencarian <strong> {{ search_params.filter_type }} </strong> untuk kata kunci: <strong> "{{ search_params.keyword }}" </strong>.
        </div>

        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <div class="well well-sm" style="text-align: right">
                        <span style="font-weight: bold; display: inline-block; float: left"> {{ loop.index }}. {{ item.name | upper }} </span>
                        <a href="#" class="btn btn-warning btn-xs">
                          <span class="glyphicon glyphicon-list-alt"></span>
                        </a>
                        <a href="{{ path_for('inventory-item-edit', {'item_id': item.id}) }}" class="btn btn-success btn-xs">
                          <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        <a href="{{ path_for('inventory-item-delete', {'item_id': item.id}) }}" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                    <p>
                        "{{ item.description }}"                    
                    </p>
                    <div style="text-align: right">
                        <a href="#" class="btn btn-info btn-xs">
                            Tambahkan
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <a href="#" class="btn btn-primary btn-sm" style="position: fixed; right: 10px; bottom: 10px">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
{% endblock %}