{% extends 'general/base.twig' %}

{% block title %} Hapus Item No. {{ item.id }} {% endblock %}

{% block head_extra %}
    <style>
        p.item-header {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    {# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>
        <fieldset>
            <legend> Hapus Item No. {{ item.id }} </legend>
        </fieldset>

        <div class="well well-sm">

            <p class="item-header"> Nama Barang: </p>
            <p> {{ item.name }} </p>
            <p class="item-header"> Deskripsi Barang: </p>
            <p> {{ item.description }} </p>  
            <p class="item-header"> Ukuran Barang: </p>
            <p> {{ item.size }} </p>
            <p class="item-header"> Tipe Barang: </p>
            <p> {{ item.type.name }} </p>

        </div>

        <div class="alert alert-danger">
            Anda yakin ingin menghapus data ini?
        </div>

        <form action="{{ path_for('inventory-item-process-delete', {'item_id': item.id}) }}" method="POST">
            <div style="text-align: right">
                <a href="{{ path_for('inventory') }}" class="btn btn-secondary"> Kembali </a>
                <button class="btn btn-danger"> Hapus Data </button>
            </div>
        </form>
    </div>
{% endblock %}