{% extends 'general/base.twig' %}

{% block title %} Edit Item No. {{ item.id }} {% endblock %}

{% block body %}
    {# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">
        <div class="spacer"></div>
        <fieldset>
            <legend> Sunting Item No. {{ item.id }} </legend>
        </fieldset>
        <form action="{{ path_for('inventory-item-process-edit', {'item_id': item.id}) }}" method="POST">
            <div class="form-group">
                <label class="control-label"> Nama Item: </label>
                <input class="form-control" type="text" name="name" placeholder="Nama Item" value="{{ item.name }}">
            </div>
            <div class="form-group">
                <label class="control-label"> Deskripsi: </label>
                <textarea class="form-control" name="description">{{ item.description }}</textarea>
            </div>
            <div class="form-group">
                <label class="control-label"> Ukuran Item: </label>
                <input class="form-control" name="size" type="text" placeholder="Ukuran Item" value="{{ item.size }}">
            </div>
            <div class="form-group">
                <label class="control-label"> Tipe Item: </label>
                <select class="form-control" name="type">
                    {% for type in types %}
                        <option value="{{ type.id }}" {% if type.id == item.type %} selected="true" {% endif %} > {{ type.name }} </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group" style="text-align: right">
                <a href="{{ path_for('inventory') }}" class="btn btn-secondary"> Kembali </a>
                <button class="btn btn-primary"> Ubah Data </button>
            </div>

            {% if message.success.edit %}
                <div class="alert alert-success"> {{ message.success.edit }} </div>
            {% endif %}
        </form>
    </div>
{% endblock %}