<li class="list-group-item">
    <div style="text-align: right">
        
    </div>

    <div class="well well-sm" style="display: flex; margin-bottom: 0px; padding: 2px 10px 2px 10px">
        <div style="flex-grow: 0">
            <h5 style="font-weight: bold">
                {% block item_index %} {{ loop.index }}. {% endblock %} {{ item.name }}
                (RP. {{ item.price | number_format(2, ',', '.') }})
            </h5>
        </div>
        <div style="flex-grow: 1"> </div>
        <div style="flex-grow: 0; display: flex; align-items: center">
            {% block control_manage %}
                <a style="margin: 0px 2px 0px 2px" href="{{ path_for('inventory-item-edit', {'item_id': item.id}) }}" class="btn btn-success btn-xs align-bottom">
                <span class="glyphicon glyphicon-cog"></span>
                </a>
                <a style="margin: 0px 2px 0px 2px" href="{{ path_for('inventory-item-delete', {'item_id': item.id}) }}" class="btn btn-danger btn-xs align-bottom">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            {% endblock %}
        </div>
    </div>

    <div style="padding: 7px">
        <span style="display: inline-block" class="label label-default"> {{ item.size | upper }} </span>
        <span style="display: inline-block" class="label label-info"> {{ item.type.name | upper }} </span>
        <span style="display: inline-block" class="label label-success"> Toko: {{ item.stock_store | upper }} </span>
        <span style="display: inline-block" class="label label-danger"> Gudang: {{ item.stock_warehouse | upper }} </span>
            
        <p style="margin-top: 15px">
            {% if item.description %}
                "{{ item.description }}"
            {% endif %}
        </p>                   
    </div>

    {% block control_add %}
        <div style="text-align: right">
            <a href="{{ path_for('invoice-item-add', {'item_id': item.id}) }}" class="btn btn-xs {% if (not item.stock_warehouse) and (not item.stock_store)  %} disabled btn-default {% else %} btn-primary {% endif %}">
                Tambahkan
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    {% endblock %}
</li>