{% extends 'general/base.twig' %}

{% block title %} Inventory | Tipe Barang {% endblock %}

{% block body %}
{# Navigation Bar #}
    {% include 'general/navbar.twig' %}

    <div class="container">

        <div style="height: 60px; margin-bottom: 15px"></div>

        <fieldset>
            <legend> Kelola Tipe Barang </legend>

            <div class="well well-sm">
                <form action="{{ path_for('inventory-type-add') }}" method="POST">
                    <div class="form-group">
                        <label> Tambahkan Tipe Baru: </label>
                        <div class="input-group">
                            <input class="form-control" name="name" type="text" placeholder="Nama tipe baru...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary">
                                    <span class="glyphicon glyphicon-plus"> </span>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th> No. </th>
                        <th> Nama Tipe </th>
                        <th> Kendali </th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in types %}
                        <tr>
                            <td> {{ loop.index }} </td>
                            <td> {{ type.name }} </td>
                            <td>
                                <a href="{{ path_for('inventory-type-edit', {'type_id':  type.id}) }}" class="btn btn-success btn-xs">
                                    Sunting
                                    <span class="glyphicon glyphicon-cog"> </span>
                                </a>
                                <a href="{{ path_for('inventory-type-delete', {'type_id':  type.id}) }}" class="btn btn-danger btn-xs">
                                    Hapus
                                    <span class="glyphicon glyphicon-remove"> </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </fieldset>

        {% if message %}
            {% for msg in message.success %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}

            {% for msg in message.error %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}

    </div>


{% endblock %}