<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %} {% endblock %} </title>
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/bootstrap-datepicker3.css">
        <link rel="stylesheet" type="text/css" href="{{ base_url() }}/public/css/default.css">

        <script src="{{ base_url() }}/public/js/jquery.min.js"></script>
        <script src="{{ base_url() }}/public/js/bootstrap.js"></script>
        <script src="{{ base_url() }}/public/js/bootstrap-datepicker.js"></script>

        {#  Change #}
        {% block head_extra %}{% endblock %}

    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>