{% extends 'general/navbar_base.twig' %}

{# Navigation bar to be used for pages available only to users that have been logged in #}
{% block menu %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a class="menu" href="{{ path_for('inventory') }}">
                <span class="glyphicon glyphicon-home"></span>
                Home
            </a>
        </li>

        <li>
            <a class="menu" href="{{ path_for('inventory-item-search') }}">
                <span class="glyphicon glyphicon-search"></span>
                Cari
            </a>
        </li>
        

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span>    
                    Kelola
                <span class="caret"></span>    
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path_for('inventory') }}"> <span class="glyphicon glyphicon-usd"></span> Kasir </a>
                </li>
                <li>
                    <a href="{{ path_for('cart') }}"> <span class="glyphicon glyphicon-shopping-cart"></span> Keranjang </a>
                </li>
                <li>
                    <a href="{{ path_for('inventory-item-add') }}"> <span class="glyphicon glyphicon-plus"></span> Tambah Item </a>
                </li>
                <li>
                    <a href="{{ path_for('type') }}"> <span class="glyphicon glyphicon-cog"></span> Tipe Barang </a>
                </li>
                <li>
                    <a href="#"> <span class="glyphicon glyphicon-user"></span> Akun </a>
                </li>
            </ul>
        </li>

        <li>
            <a class="menu" href="{{ path_for('logout') }}">
                <span class="glyphicon glyphicon-log-out"></span>
                Keluar
            </a>
        </li>

    </ul>
{% endblock %}