{% extends 'general/base.twig' %}

{% block title %} Shopping Cart {% endblock %}

{% block head_extra %}
    <style>
        p {
            margin-bottom: 2px;
        }

        p.header {
            margin-top: 8px;
            font-weight: bold;
        }

        div.well {
            margin-bottom: 5px;
        }

        h5 {
            margin: 2px;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div style="height: 80px"></div>

        <fieldset>
            <legend> Keranjang Belanjaan </legend>
            <ul class="list-group">
            {% for transaction_item in cart %}
                <li class="list-group-item">

                    <div class="well well-sm" style="display: flex">
                        <div style="flex-grow: 0">
                            <h5 style="font-weight: bold">
                                {{ transaction_item.name }} ({{ transaction_item.size }}) - {{ transaction_item.type }}
                            </h5>
                        </div>

                        <div style="flex-grow: 1"> </div>

                        {# Item Controls #}
                        <div style="flex-grow: 0; display: flex; align-items: center">
                            <a href="{{ path_for('invoice-item-edit', {'item_id': transaction_item.id }) }}" class="btn btn-success btn-xs" style="margin: 0px 2px 0px 2px">
                                <span class="glyphicon glyphicon-cog"> </span>
                            </a>
                            <a href="{{ path_for('invoice-item-delete', {'item_id': transaction_item.id }) }}" class="btn btn-danger btn-xs" style="margin: 0px 2px 0px 2px">
                                <span class="glyphicon glyphicon-remove"> </span>
                            </a>
                        </div>
                    </div>

                    <p class="header"> Dari Toko: </p>
                    <p>
                        <span class="label label-default"> {{ transaction_item.stock_store }} Item </span>
                        {% if transaction_item.stock_store > transaction_item.orig_stock_store %}
                            <div class="label label-warning">
                                Jlh. item pembelian ({{ transaction_item.stock_store }}) melebihi stok toko ({{ transaction_item.orig_stock_store }}).
                            </div>
                        {% endif %}
                    </p>

                    <p class="header"> Dari Gudang: </p>
                    <p>
                        <span class="label label-default"> {{ transaction_item.stock_warehouse }} Item </span>
                        {% if transaction_item.stock_warehouse > transaction_item.orig_stock_warehouse %}
                            <div class="label label-warning">
                                Warning! Jumlah item pembelian ({{ transaction_item.stock_warehouse }}) melebihi stok gudang ({{ transaction_item.orig_stock_warehouse }}).
                            </div>
                        {% endif %}
                    </p>

                    <p class="header"> Qty. Total * Harga: </p>
                    <p> 
                        <span class="label label-default">
                            {{ transaction_item.stock_store + transaction_item.stock_warehouse }} Item
                            *
                            Rp. {{ transaction_item.price | number_format(2, '.', ',') }}
                            =
                        </span>

                        <span class="label label-info">
                            Rp. {{ ((transaction_item.stock_store + transaction_item.stock_warehouse) * transaction_item.price) | number_format(2, '.', ',') }}
                        </span>
                    </p>

                    <p>
                        
                    </p>
                </li>
            {% endfor %}
            </ul>

            <div style="text-align: right">
                <h3> Total: Rp. {{ sum | number_format(2, '.', ',') }} </h3>
            </div>

            {% if is_error %}
                <div class="alert alert-danger">
                    Transaksi tidak dapat dilanjutkan selama terdapat item pesanan yang jumlahnya melebihi stok
                </div>
            {% endif %}

            <div style="text-align: right; padding: 10px">
                <a href="{{ path_for('inventory') }}" class="btn btn-default">
                    Kembali
                </a>
                <a href="{{ path_for('cart-finish') }}" class="btn {% if is_error %} btn-danger disabled {% else %} btn-primary {% endif %}">
                    Setujui Transaksi
                </a>
            </div>

            <div id="message">
                {% include 'general/message_alert.twig' %}
            </div>

        </fieldset>

        
    </div>

{% endblock %}