{% extends 'general/base.twig' %}

{% block title %} Shopping Cart {% endblock %}

{% block head_extra %}
    <style>
        p {
            margin-bottom: 2px;
        }

        p.header {
            margin-top: 8px;
            font-weight: bold;
        }

        div.well {
            margin-bottom: 5px;
        }

        h5 {
            margin: 2px;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div style="height: 80px"></div>

        <fieldset>
            <legend> Keranjang Belanjaan </legend>
            <ul class="list-group">
            {% for item in cart %}
                <li class="list-group-item">

                    <div class="well well-sm" style="display: flex">
                        <div style="flex-grow: 0">
                            <h5 style="font-weight: bold">
                                {{ item.name }} ({{ item.size }}) - {{ item.type }}
                            </h5>
                        </div>

                        <div style="flex-grow: 1"> </div>

                        {# Item Controls #}
                        <div style="flex-grow: 0; display: flex; align-items: center">
                            <a class="btn btn-warning btn-xs" style="margin: 0px 2px 0px 2px">
                                <span class="glyphicon glyphicon-cog"> </span>
                            </a>
                            <a class="btn btn-danger btn-xs" style="margin: 0px 2px 0px 2px">
                                <span class="glyphicon glyphicon-remove"> </span>
                            </a>
                        </div>
                    </div>

                    <p class="header"> Qty. Toko: </p>
                    <p> <span class="label label-default"> {{ item.stock_store }} Item </span> </p>
                    <p class="header"> Qty. Gudang: </p>
                    <p> <span class="label label-default"> {{ item.stock_warehouse }} Item </span> </p>
                    <p class="header"> Qty. Total * Harga: </p>
                    <p> 
                        <span class="label label-default">
                            {{ item.stock_store + item.stock_warehouse }} Item
                            *
                            Rp. {{ item.price | number_format(2, '.', ',') }}
                            =
                        </span>

                        <span class="label label-success">
                            Rp. {{ ((item.stock_store + item.stock_warehouse) * item.price) | number_format(2, '.', ',') }}
                        </span>
                    </p>
                </li>
            {% endfor %}
            </ul>

            <div style="text-align: right">
                <h3> Total: Rp. {{ sum | number_format(2, '.', ',') }} </h3>
            </div>

            <div style="text-align: right; padding: 10px">
                <a href="{{ path_for('inventory') }}" class="btn btn-default">
                    Kembali
                </a>
                <a href="{{ path_for('cart-finish') }}" class="btn btn-primary">
                    Setujui Transaksi
                    <span class="glyphicon glyphicon-ok"> </span>
                </a>
            </div>

            <div id="message">
                {% include 'general/message_alert.twig' %}
            </div>

        </fieldset>

        
    </div>

{% endblock %}