{% extends 'general/base.twig' %}

{% block title %} Shopping Cart {% endblock %}

{% block head_extra %}
    <style>
        p {
            margin-bottom: 2px;
        }

        p.header {
            margin-top: 8px;
            font-weight: bold;
        }

        div.well {
            margin-bottom: 5px;
        }

        h5 {
            margin: 2px;
            font-weight: bold;
        }

        .item-unit {
            display: table;
            width: 100%;
        }

        .item-unit div {
            display: table-cell;
        }

        .item-unit div:nth-child(1) {
            width: 70%;
        }

        .item-unit div:nth-child(3) {
            text-align: right;
        }

    </style>

    </style>
{% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div style="height: 80px"></div>

        <div class="well well-sm">
            <h4>
                <strong>
                    Jumlah uang di kasir sekarang:
                    <label class="label label-primary"> Rp. {{ cash | number_format(2, ".", ",") }} </label>
                </strong>
            </h4>
        </div>

        <fieldset>
            <legend> Keranjang Belanjaan </legend>
            <ul class="list-group">
            {% for transaction_item in cart %}
                <li class="list-group-item">

                    <div class="well well-sm item-unit">
                        <div>
                            <h5 style="font-weight: bold">
                                {{ transaction_item.name }} ({{ transaction_item.size }}) - {{ transaction_item.type }}
                            </h5>
                        </div>

                        <div> </div>

                        {# Item Controls #}
                        <div>
                            <a style="margin: 0px 1px 0px 1px" href="{{ path_for('invoice-item-edit', {'item_id': transaction_item.id }) }}" class="btn btn-success btn-xs" style="margin: 0px 2px 0px 2px">
                                <span class="glyphicon glyphicon-pencil"> </span>
                            </a>
                            <a style="margin: 0px 1px 0px 1px" href="{{ path_for('invoice-item-delete', {'item_id': transaction_item.id }) }}" class="btn btn-danger btn-xs" style="margin: 0px 2px 0px 2px">
                                <span class="glyphicon glyphicon-trash"> </span>
                            </a>
                        </div>
                    </div>

                    <p class="header"> Dari Toko: </p>
                    <p>
                        <span class="label label-default"> {{ transaction_item.stock_store }} Item </span>
                        {% if transaction_item.stock_store > transaction_item.orig_stock_store %}
                            <div class="label label-warning">
                                Jlh. item pembelian ({{ transaction_item.stock_store }}) melebihi stok toko ({{ transaction_item.orig_stock_store }}).
                            </div>
                        {% endif %}
                    </p>

                    <p class="header"> Dari Gudang: </p>
                    <p>
                        <span class="label label-default"> {{ transaction_item.stock_warehouse }} Item </span>
                        {% if transaction_item.stock_warehouse > transaction_item.orig_stock_warehouse %}
                            <div class="label label-warning">
                                Warning! Jumlah item pembelian ({{ transaction_item.stock_warehouse }}) melebihi stok gudang ({{ transaction_item.orig_stock_warehouse }}).
                            </div>
                        {% endif %}
                    </p>

                    <p class="header"> Dari Stock Event: </p>
                    <p>
                        <span class="label label-default"> {{ transaction_item.stock_event }} Item </span>
                        {% if transaction_item.stock_event > transaction_item.orig_stock_event %}
                            <div class="label label-warning">
                                Warning! Jumlah item pembelian ({{ transaction_item.stock_event }}) melebihi stok event ({{ transaction_item.orig_stock_event }}).
                            </div>
                        {% endif %}
                    </p>

                    {% if (transaction_item.stock_store + transaction_item.stock_warehouse + transaction_item.stock_event ) == 0 %}
                        <p class="header"> Warning: </p>
                            <div class="label label-warning">
                                Warning: Total jumlah pesanan adalah pesanan nol.
                            </div>
                        </p>
                    {% endif %}

                    <p class="header"> Qty. Total * Harga: </p>
                    <p>
                        <span class="label label-default">
                            {{ transaction_item.stock_store + transaction_item.stock_warehouse + transaction_item.stock_event }} Item
                            *
                            Rp. {{ transaction_item.price | number_format(2, '.', ',') }}
                            =
                        </span>

                        <span class="label label-info">
                            Rp. {{ ((transaction_item.stock_store + transaction_item.stock_warehouse + transaction_item.stock_event) * transaction_item.price)  | number_format(2, '.', ',') }}
                        </span>
                    </p>

                    <p>

                    </p>
                </li>
            {% endfor %}
            </ul>

            <div style="text-align: right; font-weight: bold">
                <h3> Total: Rp. {{ sum | number_format(2, '.', ',') }} </h3>
            </div>

            {% if is_error %}
                <div class="alert alert-danger">
                    Transaksi tidak dapat dilanjutkan selama terdapat item pesanan yang jumlahnya melebihi stok
                </div>
            {% endif %}

            <form action="{{ path_for('cart-finish') }}" method="POST">
                <div class="form-group {% if message.form_error.amount_paid %} has-error {% endif %}">
                    <label class="control-label"> Uang Pembayaran: </label>
                    <input class="form-control" name="amount_paid" type="number" placeholder="Uang pembayaran" value="{{ persisted.amount_paid }}">
                    {% if message.form_error.amount_paid %} <span class="help-block"> {{ message.form_error.amount_paid }} </span> {% endif %}
                </div>

                <div style="text-align: right">
                    <a href="{{ path_for('inventory') }}" class="btn btn-secondary">
                        Kembali
                    </a>

                    {% if not is_error %}
                        <button class="btn btn-primary">
                            Setujui Transaksi
                            <span class="glyphicon glyphicon-ok"> </span>
                        </button>
                    {% endif %}

                </div>
            </form>

            <div style="margin-top: 20px" id="message">
                {% include 'general/message_alert.twig' %}
            </div>

        </fieldset>


    </div>

{% endblock %}
