{% extends 'general/base.twig' %}

{% block title %} Detail Transaksi {% endblock %}

{% block head_extra %}
    <style>
        p {
            margin-bottom: 2px;
            font-size: 9pt;
        }

        p.header {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div class="spacer"></div>

        <fieldset>

            <legend>
                {% if not is_return %} Detail Transaksi {% else %} Retur Transaksi {% endif %}
            </legend>

            <div class="well well-sm">
                {% if not is_return %}
                    <a href="{{ path_for('invoice-transaction-list') }}?page={{ return_page }}&start_date={{ start_date }}&end_date={{ end_date }}" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Kembali
                    </a>
                {% else %}
                    <a href="{{ path_for('invoice-transaction-list', {"id": transaction.id}) }}?page={{ return_page }}&start_date={{ start_date }}&end_date={{ end_date }}" class="btn btn-warning btn-xs">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Kembali
                    </a>
                {% endif %}


            </div>

            {% if is_return %}
                <div class="well well-sm">
                    <form action="{{ path_for("cart-process-return", {"id": transaction.id}) }}?start_date={{ start_date }}&end_date={{ end_date }}" method="POST">
                        <div class="alert alert-danger">
                            Anda yakin hendak melakukan retur (pengembalian) terhadap pesanan ini?
                            Catatan transaksi akan dihapus, jumlah stock akan dikembalikan sesuai dengan jumlah item pembelian
                            serta uang kas akan ditambahkan sesuai dengan harga total transaksi ini.
                        </div>
                        <div class="text-right">
                            <button class="btn btn-danger btn-sm">
                                Setujui Retur
                                <span class="glyphicon glyphicon-trash"> </span>
                            </button>
                        </div>
                    </form>
                </div>
            {% endif %}

            <div class="well well-sm">
                <p class="header"> ID Transaksi: </p>
                <p class="content"> {{ transaction.id }} </p>

                <p class="header"> Tanggal dan Waktu: </p>
                <p class="content"> {{ transaction.datetime }}, {{ transaction.h_datetime }} </p>

                <p class="header"> Karyawan: </p>
                <p class="content"> {{ transaction.name }} </p>

                <p class="header"> Total Harga: </p>
                <p class="content"> Rp. {{ sum | number_format(2, ".", ",") }} </p>
            </div>

            <h4> Daftar Item Transaksi: </h4>

            <div class="list-group">
                {% for item in transaction_items %}
                    <div class="list-group-item">
                        <p class="header"> Nama Item: </p>
                        <p class="content"> {{ item.name }} </p>

                        <p class="header"> Harga per Item: </p>
                        <p class="content"> Rp. {{ item.price | number_format(2, ".", ",") }} </p>

                        <p class="header"> Jumlah: </p>
                        <p class="content"> {{ item.stock_store + item.stock_warehouse + item.stock_event }} </p>

                        <p class="header"> Total: </p>
                        <p class="content">
                            Rp.
                            {{ (item.price * (item.stock_store + item.stock_warehouse + item.stock_event)) | number_format(2, ".", ",") }}
                        </p>

                    </div>
                {% endfor %}
            </div>

        </fieldset>

    </div>

{% endblock %}
