{% extends 'general/base.twig' %}

{% block title %} Tambahkan Item Ke Transaksi {% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div style="height: 70px"></div>

        <fieldset>
            <legend> Tambahkan Item ke Keranjang </legend>
            {% include 'invoice/transaction_item_unit.twig' %}

            <div class="well well-sm">
                <form action="{{ path_for('invoice-item-process-add', {'item_id': item.id}) }}" method="POST">
                    <div class="form-group {% if message.error.stock_store %} has-error {% endif %}">
                        <label class="control-label"> Jumlah Dari Toko: </label>
                        <input class="form-control" type="number" placeholder="Jumlah item dari toko" name="stock_store" value="0">
                        {% if message.error.stock_store %} <span class="help-block"> {{ message.error.stock_store }} </span> {% endif %}
                    </div>

                    <div class="form-group {% if message.error.stock_warehouse %} has-error {% endif %}">
                        <label class="control-label"> Jumlah Dari Gudang: </label>
                        <input class="form-control" type="number" placeholder="Jumlah item dari gudang" name="stock_warehouse" value="0">
                        {% if message.error.stock_warehouse %} <span class="help-block"> {{ message.error.stock_warehouse }} </span> {% endif %}
                    </div>

                    <div class="form-group {% if message.error.stock_event %} has-error {% endif %}">
                        <label class="control-label"> Jumlah Dari Stock Event: </label>
                        <input class="form-control" type="number" placeholder="Jumlah item dari stock event" name="stock_event" value="0">
                        {% if message.error.stock_event %} <span class="help-block"> {{ message.error.stock_event }} </span> {% endif %}
                    </div>

                    {% if message.error.min_stock %}
                        <div class="alert alert-danger">
                            {{ message.error.min_stock }}
                        </div>
                    {% endif %}

                    <div class="form-group" style="text-align: right">
                        <button class="btn btn-primary">
                            Tambahkan
                            <span class="glyphicon glyphicon-plus"> </span>
                        </button>
                    </div>
                </form>
            </div>

        </fieldset>
    </div>

{% endblock %}
