{% extends 'general/base.twig' %}

{% block title %} Detail Transaksi {% endblock %}

{% block head_extra %}
    <style>
        p {
            margin-bottom: 2px;
        }

        p.header {
            font-weight: bold;
        }

        .list-group-item {
            font-size: 8pt;
        }

    </style>
{% endblock %}

{% block body %}
    {# Navbar #}
    {% include 'general/navbar.twig'%}

    <div class="container">
        <div class="spacer"></div>

        {% if message.success.return %}
            <div class="alert alert-success">
                {{ message.success.return }}
            </div>
        {% endif %}

        <fieldset>

            <legend> Daftar Transaksi </legend>

            {% if pagination.has_items %}

                <div class="alert alert-success">
                    {% if h_start_date != h_end_date %}
                        Menampilkan catatan transaksi dari <strong> {{ h_start_date }} </strong> sampai dengan <strong> {{ h_end_date }} </strong>
                    {% else %}
                        Menampilkan catatan transaksi pada hari <strong> {{ h_start_date }} </strong>
                    {% endif %}
                </div>

                {% if user.privilege == "SHOPKEEPER" %}
                    <div class="well well-sm">
                        <strong> Total Pemasukan: </strong>
                        <span class="label label-info"> Rp. {{ income | number_format(2, ".", ",") }} </span>
                    </div>
                {% endif %}

                <div class="alert alert-info">
                    Menampilkan item ke <strong> {{ pagination.item_begin }} </strong> sampai item ke <strong> {{ pagination.item_end }} </strong> dari
                    seluruh <strong> {{ pagination.total_items }} </strong> item yang ada.
                </div>
            {% else %}
                <div class="alert alert-danger">
                    Error: Tidak ada item pada halaman ini.
                </div>
            {% endif %}

            <div class="list-group">
                {% for transaction in transactions %}
                    <div class="list-group-item">
                        <p class="header"> ID Transaksi: </p>
                        <p> {{ transaction.id }} </p>
                        <p class="header"> Waktu: </p>
                        <p> {{ transaction.datetime }}, {{ transaction.h_datetime }} </p>
                        <p class="header"> Karyawan: </p>
                        <p> {{ transaction.name }} </p>
                        <p class="header"> Total Harga: </p>
                        <div class="pull-right">
                            <a class="btn btn-info btn-xs" href="{{ path_for("invoice-transaction-detail", {"id": transaction.id}) }}?return_page={{ pagination.current_page }}&start_date={{ start_date }}&end_date={{ end_date }}">
                                <span class="glyphicon glyphicon-list-alt"> </span>
                                Detail
                            </a>

                            <a class="btn btn-danger btn-xs"
                                href="{{ path_for("cart-return", {"id": transaction.id}) }}?return_page={{ pagination.current_page }}&start_date={{ start_date }}&end_date={{ end_date }}">
                                <span class="glyphicon glyphicon-trash"> </span>
                                Retur
                            </a>

                        </div>
                        <p> Rp. {{ transaction.price_sum | number_format(2, ".", ".") }} </p>

                    </div>

                {% endfor %}
            </div>

            {% if pagination.has_items %}
                <nav>
                <ul class="pager">
                    {% if pagination.prev_page %}
                        <li class="previous">
                            <a href="{{ path_for("invoice-transaction-list") }}?page={{ pagination.prev_page }}&start_date={{ start_date }}&end_date={{ end_date }}">
                                &larr; Sebelumnya
                            </a>
                        </li>
                    {% else %}
                        <li class="previous disabled">
                            <a>
                                &larr; Sebelumnya
                            </a>
                        </li>
                    {% endif %}


                    {% if pagination.next_page %}
                        <li class="next">
                            <a href="{{ path_for("invoice-transaction-list") }}?page={{ pagination.next_page }}&start_date={{ start_date }}&end_date={{ end_date }}">
                                Selanjutnya &rarr;
                            </a>
                        </li>
                    {% else %}
                        <li class="next disabled">
                            <a>
                                Selanjutnya &rarr;
                            </a>
                        </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}

        </fieldset>

    </div>

{% endblock %}
