{% extends 'general/base.twig' %}

{% block title %} Halaman Pendaftaran {% endblock %}

{% block body %}

    {# Navigation Bar #}
    {% include 'general/navbar.twig'%}
    
    <div class="container">
        <div class="spacer"></div>
        <fieldset>
            <legend> Pendaftaran Akun </legend>
            <form action="{{ path_for("user-process-signup") }}" method="POST">
                
                <div class="form-group {% if message.error.username %} has-error {% endif %}">
                    <label class="control-label"> Nama Pengguna: </label>
                    <input class="form-control" type="text" name="username" placeholder="Nama Pengguna" >
                    {% if message.error.username %} <span class="help-block"> {{ message.error.username }} </span> {% endif %}
                </div>

                <div class="form-group {% if message.error.phone %} has-error {% endif %}">
                    <label class="control-label"> Nomor Telepon: </label>
                    <input class="form-control" type="phone" name="phone" placeholder="Nomor Telepon" >
                    {% if message.error.phone %} <span class="help-block"> {{ message.error.phone }} </span> {% endif %}
                </div>

                <div class="form-group {% if message.error.privilege %} has-error {% endif %}">
                    <label class="control-label"> Status User: </label>
                    <select name="privilege" class="form-control">
                        <option value="SHOPKEEPER"> Shopkeeper </option>
                        <option value="MANAGER"> Manager </option>
                        <option value="ADMINISTRATOR"> Administrator </option>
                    </select>
                    {% if message.error.privilege %} <span class="help-block"> {{ message.error.privilege }} </span> {% endif %}
                </div>

                <div class="form-group {% if message.error.password %} has-error {% endif %}">
                    <label class="control-label"> Kata Sandi: </label>
                    <input class="form-control" type="password" name="password" placeholder="Kata Sandi" >
                    {% if message.error.password %} <span class="help-block"> {{ message.error.password }} </span> {% endif %}
                </div>

                <div class="form-group {% if message.error.password_retry %} has-error {% endif %}">
                    <label class="control-label"> Ulangi Kata Sandi: </label>
                    <input class="form-control" type="password" name="password_retry" placeholder="Ulangi Kata Sandi" >
                    {% if message.error.password_retry %} <span class="help-block"> {{ message.error.password_retry }} </span> {% endif %}
                </div>

                {% if message.error.user_exists %}
                    <div class="alert alert-danger">
                        {{ message.error.user_exists }}
                    </div>
                {% endif %}

                <div style="text-align: right">
                    <a href="{{ path_for('user-manage') }}" class="btn btn-secondary"> Kembali </a>
                    <button class="btn btn-primary"> Daftarkan </button>
                </div>
            </form>
        </fieldset>
    </div>
{% endblock %}